<ul>
  <li><%= link_to "Hours", summer_hours_path %></li>
  <li><%= link_to "Fan Rentals", summer_fans_path %></li>
  <li><%= link_to "Laundry & Linens", summer_laundry_path %></li>
  <li><%= link_to "Microfridge", summer_microfridge_path %></li>
  <li><%= link_to "Souvenir Shop", summer_souvenirs_path %></li>
  <li><%= link_to "Academic Year", students_backup_path %></li>
</ul>
