<ul>
  <li><%= link_to "Summer", students_summer_path %></li>
  <li><%= link_to(content_tag(:span, "") + "Backup Software", students_backup_url) %></li>
  <li><%= link_to(content_tag(:span, "") +"Care Packages", students_package_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Discount Cards", students_card_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Laundry Services", students_laundry_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Linen Sales", students_linen_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Marketplace", students_marketplace_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Microfridge", students_microfridge_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Retail Store", students_retail_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Storage & Shipping", students_storage_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Student Planners", students_planners_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "Sublet Directory", students_sublet_directory_url) %></li>
  <li><%= link_to(content_tag(:span, "") + "The Vault", students_vault_url) %></li>
</ul>
