<div id="tabs">
 <%= render 'student_services_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Shipping from Brown </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li> <%= link_to "Preparing to Store", students_storage_prepare_to_store_path %> </li>
      <li> <%= link_to "Storage Pricing", students_storage_storage_pricing_path %> </li>
      <li> <%= link_to "Ship from Brown", students_storage_ship_from_brown_path %> </li>
      <li> <%= link_to "Ship to Brown", students_storage_ship_to_brown_path %> </li>
      <li> <%= link_to "Supplies", students_storage_supplies_path %> </li>
      <li> <%= link_to "Pick up & Delivery", students_storage_delivery_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <div class="content_box">
        <h2> Ship To Anywhere </h2>
        <p>Do you need to send a box home or to your summer apartment? Storage Center now offers shipping from Brown to any location in the world making us your true one-stop-shop.</p>
				<p>Cost: UPS/Fedex shipping fee + $5 handling cost</p>
      </div>
      <div class="content_box">
				<h2>How it Works:</h2>
				<ol>
					<li>The student packs his/her boxes, writes the destination address and the word "SHIP" on box.</li><br>
					<li>The student completes Storage Center's online form.</li><br>
					<li>The student either drops off the boxes to one of the 3 main locations or Storage Center will pick up items curbside for off campus locations free of charge.</li><br>
					<li>Storage Center will process the boxes and obtain the shipping price from UPS/Fedex.</li><br>
					<li>Storage Center will email the student the final price, tracking number, and estimated arrival date.</li><br>
					<li>The student will be charged the final amount.</li><br>
				</ol>
				</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "storage_center_small.jpg", :width => 200 %>
      <%= link_to "Reserve Now!", "http://storagecenter.com/?page_id=418" %>
    </div>
  </div>
  
</div>
