<div id="tabs">
  <%= render "student_services_tab" %>
  </div>
  <div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Brown Summer Services </h1>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <h3> Summer Student? Check out these summer services offered by BSA. </h3>
      <p> <%= link_to "Fan rentals", summer_fans_path %> </p>
      <p> <%= link_to "Laundy & Linens", summer_laundry_path %></p>
      <p> <%= link_to "Microfridge", summer_microfridge_path %></p>
      <p> <%= link_to "Souvenir Shop", summer_souvenirs_path %></p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
