<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-color: #461700">
    <center>
      <table border="0" width="750" style="background-color: white">
        <tr>
          <td>
            <!-- Header -->
            <table border="0">
              <tr>
                <td colspan="5">
                  <img alt="Email_banner" src="http://brownbsa.com/assets/banner_bsa_email.jpg" width="750px">
                </td>
              </tr>
              <tr>
                <td width="150" align="center">
                  <p> <a href="http://brownbsa.com/students" target="_blank" style="color: #777"> Student Services </a> </p>
                </td>
                <td width="150" align="center">
                  <p> <a href="http://brownbsa.com/groups" target="_blank"  style="color: #777"> Student Groups </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/biz" target="_blank"  style="color: #777"> Business </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/community" target="_blank"  style="color: #777"> Community </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/about" target="_blank" style="color: #777"> About </a> </p>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <hr />
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <!-- Content -->
            <!-- Three columns of content -->
            <table border="0" style="padding-left: 25px; padding-right: 25px;">
              <!-- Welcome -->
              <tr>
                <td colspan='3'>
                  <p style="color: black; padding-left: 20px; padding-right: 20px; line-height: 1.5em; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; ">Dear Incoming Freshman,</p>

                  <p style="color: black;padding-left: 20px; padding-right: 20px; line-height: 1.5em; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">On behalf of Brown Student Agencies, welcome to Brown! We know this is a stressful time, but
                    we’d like to offer some advice on how to make the transition into college a little easier for you and your
                    parents. BSA is an official student run organization that provides business experience to undergrads and
                    offers needed products and services to the University community. So, before you run out the door to
                    buy a mini fridge or panic about doing laundry, let us offer you some alternatives.</p>
                </td>
              </tr>
              <tr>
                <td colspan='3'>
                  <h2 style="color: #461700; padding-left: 20px; text-align: center;">BSA College Essentials</h2>
                  <hr style="height: 2px; background-color: #D70412; margin-left: 50px; margin-right: 50px; font-family: Georgia, serif;"/>
                  <p  style="color: black;font-size: 14px; line-height: 1.5em; padding-left: 20px; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">(BSA is entirely student run, so we’re the experts on what you’ll need!)</p>
                </td>
              </tr>
              <!-- Titles -->
              <tr>
                <td width="225">
                  <h2 style="color: #D70412; font-size: 18px; text-align: center; font-family: Georgia, serif;"> No Time for Laundry? </h2>
                </td>

                <td width="225">
                  <h2 style="color: #D70412; font-size: 18px; text-align: center; font-family: Georgia, serif;"> BSA Microfridge! </h2>
                </td>

                <td width="225">
                  <h2 style="color: #D70412; font-size: 18px; text-align: center; font-family: Georgia, serif;"> Reliable Cloud Storage </h2>
                </td>
              </tr>

              <!-- Images -->
              <tr>
                <td>
                  <img alt="Laundry" src="http://brownbsa.com/assets/laundry2.jpg" style="margin-left: 60px;" width="100px">
                </td>

                <td>
                  <img alt="Microfridge" src="http://brownbsa.com/assets/fridge.png" style="margin-left: 40px" width="150px">
                </td>

                <td>
                  <img alt="SugarSyn" src="http://brownbsa.com/assets/hero-white-ipad.png" style="margin-left: 20px;" width="180px">
                </td>

              </tr>

              <!-- Content -->
              <tr>
                <td style="padding-left: 25px; padding-right: 25px;">
                  <p style="color: black;height: 280px; line-height: 1.5em;font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    With our professional on-campus laundry service, you won’t have to worry about fitting the
                    hassle of laundry into your busy schedule. Just drop off your dirty laundry in the Campus Center
                    and pick it up days later, professionally cleaned and folded! <%= link_to "Read more", "http://brownbsa.com/students/laundry", :target => "_blank", :style => "color: #08C;" %> and <%= link_to "order today", "https://www.eandrcleaners.com/campuslaundry/", :target => "_blank", :style => "color: #08C;" %>!
                  </p>
                </td>

                <td style="padding-left: 25px; padding-right: 25px">
                  <p style="color: black;height: 280px; line-height: 1.5em;font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    Instead of lugging a fridge to campus, have one delivered right to your dorm! Microfridges are
                    available for purchase or rental, are very affordable, and are a dorm essential. They come with
                    a microwave, a Brown-approved fridge, and a freezer—a deal you can’t beat! <%= link_to "Read more", "http://brownbsa.com/students/microfridge", :target => "_blank", :style => "color: #08C;" %> and <%= link_to "order today", "https://www.collegerefrigerators.com/", :target => "_blank", :style => "color: #08C;" %>!
                  </p>
                </td>

                <td style="padding-left: 25px; padding-right: 25px">
                  <p style="color: black;height: 280px; line-height: 1.5em;font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                   Brown University has selected SugarSync as the exclusive cloud service provider for
students and faculty, and is offering a 20% discount on 30GB accounts. SugarSync
provides the ability to backup, access and share all your documents, photos, music and
videos instantly and securely from any computer or mobile device. <%= link_to "Read more", "http://brownbsa.com/students/sugarsync", :target => "_blank", :style => "color: #08C;" %> and <%= link_to "order today", "https://www.sugarsync.com/affiliate/generic?l1=brown&l2=email&url=http%3a%2f%2fwww.sugarsync.com%2fsignup%3fstartsub%3d30%26promocode%3Dfdfyjqntycvy", :target => "_blank", :style => "color: #08C;" %>!
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan='3'>
                  <br/>
                  <p style="font-size: 14px; line-height: 1.5em; color: #D70412; margin-left: 20px; margin-right: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin-top: 20px;"> These products and services are time sensitive—so be sure to order now! To view our other
products and services, such as Student Advantage card, linens, and shipping to
Brown, please visit our <%= link_to "website", "http://brownbsa.com", :style => "color: #08C;", :target => "_blank" %>! </p>
                  <p style="color: black;font-size: 14px; line-height: 1.5em; margin-left: 20px; margin-right: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    Like BSA on <%= link_to "Facebook", "http://www.facebook.com/pages/Brown-Student-Agencies/340781094916", :target => "_blank", :style => "color: #08C;" %> for updates, discounts, and tips!
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <!-- footer -->
            <table cellpadding="20">
              <tr>
                <td>
                    <hr style="height: 2px; background-color: #D70412;"/>
                  <p style="color: black;font-size: 14px; line-height: 1.5em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    We’re very excited to welcome you to Brown in just a few short weeks. In the
                    meantime, if you have any questions about our products or services, feel free to email us at
                    bsa@brown.edu. And, if you’re interested in business, please keep in mind that BSA is always
                    looking for top talent, and will be hiring this fall. Enjoy the rest of your summer!
                  </p>
                  <span style="font-size: 16px; line-height: 1.0em;">
                  <p style="margin-top: 35px;">Sincerely,</p>
                  <img alt="Signiture" src="http://brownbsa.com/assets/signiture.jpg", width="250px">
                  <p>Connor Shinn</p>
                  <p>Executive Director, BSA</p>
                  <p>Brown University | Class of 2014</p>
                  </span>
                  <hr style="height: 2px; background-color: red;"/>
                  <p style="text-align: center; font-size: 10px;">Brown Student Agencies | 69 Brown Street, Box 2001, Providence RI 02912</p>
                  <p style="text-align: center; font-size: 10px;"> Phone: 401.863.2226 | www.BrownBSA.com </p>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
