<div class="care_slide">
  <div class="slide_banner">
    <%= image_tag "care-banner.jpg" %>  
  </div>
  <div  class="slide_content">
    <div class="slide_side_image">
      <%= image_tag "Midnight-Snack-Care-Package.jpg", :height => "220px" %>
    </div>
    <div class="slide_words">
      <div class="slide_title">
        <h2> New Care Packages </h2>
      </div>
      <div class="slide_text">
        <p class="details_p_first"> BSA is proud to announce a new partnership with Gourmet Gift Packages. We know the transition to college is hard so ease the change with a gift basket delivered right to their mail box. </p>
        <p> <%= link_to "Learn more", students_package_path %> or check out the <%= link_to "order form", "http://www.GourmetGiftBaskets.com/brown.asp", :target => "_blank" %>
        </p>
      </div>
    </div>
    <div class="slide_right_side_image">
      <%= image_tag "Exam-Cram-Care-Package.jpg", :height => "220px" %>
    </div>

  </div>
</div>
