<div id="services">
  <div class="service_item">
    <h4><%= link_to "Backup Software", students_backup_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Care Packages", students_package_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Discount Cards", students_card_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Laundry", students_laundry_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Linen", students_linen_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Marketplace", students_marketplace_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Microfridge", students_microfridge_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Retail Store", students_retail_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Storage & Shipping", students_storage_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Student Planners", students_planners_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "Sublet Directory", students_sublet_directory_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>

  <div class="service_item">
    <h4><%= link_to "The Vault", students_vault_path %></h4>
    <div class="service_description">
    <p> This is a short description of the service that will be shown on the front page of the BSA website </p>
    </div>
  </div>
</div>
