<ul>
  <li><%= link_to "History & Mission", about_history_url %></li>
  <li><%= link_to "Staff", about_staff_url %></li>
  <li><%= link_to "Contact Us", about_contact_url %></li>
  <li><%= link_to "Partner With BSA", about_partner_url %></li>
  <li><%= link_to "Work for BSA", about_work_url %></li>
  <li><%= link_to "Information Desk", about_information_url %></li>
</ul>
