<ul>
  <li><%= link_to "Billboards", biz_billboards_url %></li>
  <li><%= link_to "Vendor Tables", biz_vendor_tables_url %></li>
  <li><%= link_to "Ticket Advertising", biz_ticket_url %></li>
  <li><%= link_to "Student Planners", biz_planners_url %></li>
  <li><%= link_to "Product Request", biz_request_url %></li>
</ul>
