<ul>
  <li><%= link_to "Announcements", info_announcements_path %></li>
  <li><%= link_to "Check In Form", info_check_in_path %></li>
  <li><%= link_to "BSA Services", info_bsa_services_path %></li>
  <li><%= link_to "Procedures", info_procedures_path %></li>
  <li><%= link_to "Documents", info_documents_path %></li>
  <li><%= link_to "General Information", info_general_path %></li>
</ul>
