<div id="tabs">
  <%= render 'info_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Glass Bulletin Boards </h1>
  </div>
<div id="tab_navigation">
    <ul>
      <li><%= link_to "Bear Bucks", info_general_bear_bucks_path %></li>
      <li><%= link_to "Campus Center Map", info_general_map_path %></li>
      <li><%= link_to "Bulletin Boards", info_general_bulletin_path %></li>
      <li><%= link_to "Building Checklist", info_general_building_checklist_path %></li>
      <li><%= link_to "Pool Table Policies", info_general_pool_table_path %></li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
    <hr>
	<p><iframe src="https://docs.google.com/document/pub?id=1s2fiqnVo3CRs75cZn2gnaFLostA7C5hy6V77z4UisG8&amp;embedded=true" width="650" height="860-" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
