<div id="tabs">
  <%= render 'info_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Markplace Procedures </h1>
  </div>
<div id="tab_navigation">
    <ul>
      <li><%= link_to "Billboards", info_bsa_services_billboards_path %></li>
      <li><%= link_to "Vendor Tables", info_bsa_services_vendor_tables_path %></li>
      <li><%= link_to "Marketplace", info_bsa_services_marketplace_path %></li>
      <li><%= link_to "Care Packages", info_bsa_services_care_packages_path %></li>
      <li><%= link_to "Laundry", info_bsa_services_laundry_path %></li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
    <hr>
	<p><iframe src="https://docs.google.com/document/pub?id=1gyPJj_l3bKBG-Kg5ixNJ3Ih_9hHtK77ZdM2IFjNwKE0&amp;embedded=true" width="650" height="860" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
