<footer>
  <div id="footer_content">
    <div id="top_footer">
      <div id="contact_column">
        <h3> Contact Form </h3>
        <form id="contact_form" method="post" action="">
          <p>
            Name: <input type="text" name="name" />
          </p>
          <p>
            Email: <input type="email" name="name" />
          </p>
          <p>
            Content: <textarea name="content" cols="40" rows="6"></textarea>
          </p>
          <p>
            <input type='submit' name='Submit' value='Submit' class="btn btn-primary btn-large submit" />
          </p>
        </form>
      </div>
      <div id="link_column">
        <h3> Site Links </h3>
        <p><%= link_to "Laundry Service", "#" %></p>
        <p><%= link_to "Event Ticketing", "#" %></p>
        <p><%= link_to "Storage", "#" %></p>
        <p><%= link_to "Advertising", "#" %></p>
      </div>
      <div id="link_column_2">
        <h3> Site Links </h3>
        <p><%= link_to "Microfridges", "#" %></p>
        <p><%= link_to "Backup software", "#" %></p>
        <p><%= link_to "Care Packages", "#" %></p>
        <p><%= link_to "Student Planners", "#" %></p>
      </div>

      <div id="follow_column">
        <h3> Follow Us </h3>
        <p><%= link_to "Facebook", "#" %></p>
        <p><%= link_to "Twitter", "#" %></p>
      </div>
    </div>
    <div id="bottom_footer">
      <p>Copyright 2012 Brown Student Agencies 69 Brown Street, Box 2001, Providence RI 02912 (401) 863 - 2226</p>
      <div id="footer_logo">
      <p> <%= link_to "Brown University", "http://www.brown.edu" %> </p>
        <%= link_to image_tag("brown_logo.png"), "http://www.brown.edu" %>
      </div>
    </div>
  </div>
</footer>
