<footer>
  <div id="footer_content">
    <div id="top_footer">
      <div id="contact_column">
        <h3> Feedback Form </h3>
        <div id="contact_form">
          <%= render 'layouts/comment_form' %>
        </div>
      </div>
      <div id="link_column">
        <h3> Student Life </h3>
        <p><%= link_to "Laundry Service", students_laundry_path %></p>
        <p><%= link_to "Cloud Storage", students_sugarsync_path %></p>
        <p><%= link_to "Microfridges", students_microfridge_path %></p>
        <p><%= link_to "Marketplace", students_marketplace_path %></p>
        <p><%= link_to "Care Packages", students_package_path %></p>
      </div>
      <div id="link_column_2">
        <h3> Business </h3>
        <p><%= link_to "Billboards", biz_billboards_path %></p>
        <p><%= link_to "Event Ticketing", biz_ticket_path %></p>
        <p><%= link_to "Vendor Tables", biz_vendor_tables_path %></p>
        <p><%= link_to "Planners", biz_planners_path %></p>
        <p><%= link_to "Product Request", biz_request_path %></p>
      </div>

      <div id="follow_column">
        <h3> Connect with BSA </h3>
        <p><%= link_to "Facebook", "http://www.facebook.com/pages/Brown-Student-Agencies/340781094916", :target => "_blank" %></p>
        <p><%= link_to "About BSA", about_history_path %></p>
        <p><%= link_to "Our Staff", about_staff_path %></p>
        <p><%= link_to "Contact BSA", about_contact_path %></p>
        <p><%= link_to "Partner with BSA", about_partner_path %></p>
      </div>
    </div>
    <div id="bottom_footer">
      <p>Copyright 2012 Brown Student Agencies 69 Brown Street, Box 2001, Providence RI 02912 (401) 863 - 2226</p>
      <div id="footer_logo">
      <p> <%= link_to "Brown University", "http://www.brown.edu" %> </p>
        <%= link_to image_tag("brown_logo.png"), "http://www.brown.edu" %>
      </div>
    </div>
  </div>
</footer>
