<header>
  <div id="banner">
    <div id="logo">
      <%= link_to image_tag("bsa_site_logo.png", :width => "200px"), root_path %>
    </div>
  </div>
  <div id="navigation">
    <ul id="nav_menu">
        <li class="home"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Student Services", students_backup_path %></li>
        <li><%= link_to "Student Groups", groups_billboards_path %></li>
        <li><%= link_to "Business", biz_billboards_path %></li>
        <li><%= link_to "Community Affairs", community_inspire_path %></li>
        <li><%= link_to "About", about_history_path %></li>
        <li class="summer"><%= link_to "Summer", summer_path %></li>
    </ul/>
  </div>
</header>
