<html>
  <head>
    <title>Brown Student Agencies - <%= @page_title %></title>
    <%= stylesheet_link_tag "bootstrap-responsive.css" %>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "main.css.scss" %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "slides.min.jquery.js" %>
    <%= javascript_include_tag "main.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="body_container">
      <%= render 'layouts/header' %>
      <div id="main_container">
      <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
